<!--Search Box-->
<div class="container" style="margin-top: 20px; margin-bottom: 10px">
    <form ng-submit="searchSubmit()" class="form-inline">
    <div class="form-group mx-sm-3">
      <label for="searchBox" class="sr-only">Search...</label>
      <input type="text" ng-model="query" name="text" class="form-control" id="searchBox" placeholder="Search...">
    </div>
    <input type="submit" id="submit" value="Submit" class="btn btn-primary" />
  </form>
</div>
<!--Search Box End-->

<!--ruler-->
<hr>

<h5 class="text-muted" ng-if="assignments.recommendation">Recommended for you</h5>


<div class="row"  id="rowList">
  <div class="col-lg-4 col-md-6 mb-4" ng-repeat="assign in assignments.data">
    <div class="card h-100">
      <div class="card-body">
        <h4 class="card-title">
          <a href="#assigndetails/{{assign.id}}">{{assign.name}}</a>
        </h4>
          <div ng-bind-html="assign.summary"></div>
      </div>
      <div class="card-footer">
        <small class="text-muted">TF/IDF: {{assign.score}}</small>
      </div>
    </div>
    </div>
</div>
<uib-pagination total-items="assignments.totalitems" max-size="20" ng-model="assignments.currentPage" ng-change="pageChanged()"></uib-pagination>